<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Tech Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="row d-flex flex-column min-vh-100 m-auto">
      <header
        class="bg-danger row justify-content-around align-items-end mx-auto"
      >
        <a href="/" class="col-3 m-1 text-decoration-none text-light"><h1>A Tech
            Blog</h1></a>
        <nav class="col col-md-7 row mr-5 pr-5">
          <ul
            class="list-unstyled row justify-content-around align-items-end text-center"
          >
            <li class="col col-md-2"><a
                href="/"
                class="text-decoration-none text-dark font-weight-bold"
              >Homepage</a></li>
            <li class="col col-md-2"><a
                href="/dashboard"
                class="text-decoration-none text-dark font-weight-bold"
              >Dashboard</a></li>
            {{#if loggedIn}}
              <li class="col col-md-2"><button
                  type="button"
                  class="btn btn-dark text-light"
                  id="logout-button"
                >Logout</button></li>
            {{else}}
              <li class="col col-md-2"><a
                  href="/signup"
                  class="text-decoration-none text-light font-weight-bold"
                ><button
                    class="btn btn-dark"
                    type="button"
                  >Login/Signup</button></a></li>
            {{/if}}
          </ul>
        </nav>
      </header>
      <section>
        {{{body}}}
      </section>
      <footer class="bg-danger mt-auto">Thank you for visiting</footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>