<div class="container">
  <form
    class="border rounded border-dark row my-5 justify-content-center"
    id="login-form"
  >
    <h2 class="text-dark font-weight-bold text-align-center">Sign In</h2>
    <label for="login-username" class="my-1">Username</label>
    <input
      type="text"
      id="login-username"
      placeholder="Please enter your username."
      class="my-1 col-10"
    />
    <label for="login-password">Password</label>
    <input
      type="password"
      id="login-password"
      placeholder="Please enter your password."
      class="my-1 col-10"
    />
    <button
      id="login-button"
      class="btn btn-danger my-1 col-10"
      type="submit"
    >Login</button>
  </form>
</div>
<script src="/javascript/login.js"></script>